body {
    background-color: #fff;
    font-family: 'Roboto';
    min-width: 360px;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding-bottom: 4%;
    text-align: center;
}

nav img {
    padding-left: 38%;
    padding-right: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #ffffff;
    justify-content: center;
}

nav form {
    font-style: 'Roboto';
    padding-top: 2%;
    text-align: center;
    background-color: #eaeaea;
    padding-bottom: 2%;
}

nav input {
    border: none;
    text-align: center;
    background-color: #eaeaea;
    font-weight: 600;
    font-size: 120%;
}

nav h2 {
    padding-left: 20%;
    padding-right: 20%;
    font-weight: bold;
    font-size: 200%;
}

nav p {
    color: #7d7d7d;
    font-size: 140%;
    padding-left: 25%;
    padding-top: 2%;
    width: 50%;
}

nav>button {
    font-size: 140%;
    width: 40%;
    height: 40%;
    margin: 3% auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
    border: rgba(280, 280, 280, 0.2);
    box-shadow: 0px 1px 3px #9d9d9d;
}

nav>button>a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.title {
    margin-left: 7%;
    font-size: 120%;
}

.title p {
    font-size: 150%;
    width: fit-content;
    position: relative;
    padding-bottom: 1%;
    margin-bottom: 4%;
}

.title p::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 0%;
    border-bottom: 3px solid #99e2d0;
}



article {
    display: flex;
    flex-direction: row;
}

.nr {
    font-size: 140%;
    text-align: center;
    color: #fff;
    height: 1.2em;
    width: 1.2em;
    margin-top: 7%;
    margin-left: 2.5em;
    border-radius: 25px;
    background-color: #9356dc;
    z-index: 11;
    position: absolute;
}

.explanation {
    display: flex;
    flex-direction: row;
    width: 140%;
    font-size: 140%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 3em;
    margin-right: 10%;
    border-style: none;
    border-radius: 15px;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 1px 1px #d6d6d6;
    margin-top: 3%;
    z-index: 10;
}

.explanation p {
    margin-left: 3em;
    text-align: left;
}

.explanation:hover {
    background-color: #f5edff;
}

.explanation>span {
    margin-top: 1.1em;
    margin-left: 2em;
    color: #7e7e7e;
}




#menu {
    background-color: #f6f6f6;
    padding-top: 20px;
    margin-top: 60px;
}

.tabs {
    width: 90%;
    height: 30em;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 1px 1px 1px #d6d6d6;
}

.tabs img {
    width: 98%;
    height: 70%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.tabs_txt p {
    margin-left: 3%;
    margin-bottom: 0%;
    margin-top: 2%;
    font-size: 130%;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.tabs_txt a {
    text-decoration: none;
    color: #000000;
}

.tabs_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs button {

    font-size: 160%;
    border: none;
    background: none;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

.tabs button :hover {
    color: #9356dc;
    border-color: #9356dc;
}




footer {
    background-color: #353535;
    padding-bottom: 5%;
    font-size: 120%;
}

footer img {
    width: 15%;
    padding-top: 7%;
    padding-left: 3.5em;
    font-size: 140%;
    filter: brightness(0) invert(1);
}

footer a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    list-style: none;
}
footer ul{
    margin-left: 1em;
}
footer li {
    display: flex;
    flex-direction: row;
}

footer span {
    margin-top: 10%;
    margin-right: 10px;
}



nav>a {
    font-size: 180%;
    position: absolute;
    top: 1em;
    left: 3em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
}

.nav-menu a {
    margin-left: 10%;
    padding-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;

    margin-top: 2%;
}

.nav-menu span {
    display: block;
    margin-right: 10%;
    padding-left: 10%;
    z-index: 2;
}

.nav-menu img {
    display: block;
    background: none;
    height: 3em;
    z-index: 1;
}

header img {
    width: 100%;
    z-index: 1;
    height: 35em;
}


#foods {
    background-color: #f6f6f6;
    border-radius: 60px 60px 0px 0px;
    padding-top: 5%;
    margin-top: -7em;
    position: relative;
    z-index: 2;
}

.resteau {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0%;
    font-family: 'shrikhand';
    font-size: 250%;
}

.resteau span {
    margin-top: 8%;
}

.resteau span:hover {
    color: #9356dc;
    background: none;
}

.dish {
    background-color: #fff;
    min-width: 90%;
    padding-left: 5%;
    margin-left: 2.5%;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 5px 2px 1px 2px #ebebeb;
    font-size: 150%;
    height: 6.5em;
}

.dish h5 {
    position: relative;
    top: -30%;
    left: 80%;
    transform: translateY(-30%);
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding-bottom: 4%;
    text-align: center;
}

.order button {
    font-size: 140%;
    color: #fff;
    width: 30%;
    height: 40%;
    margin: 3% auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #ed73da, #9f5adc);
    border: rgba(280, 350, 300, 0.4);
    box-shadow: 0px 1px 3px #9d9d9d;
}

.order>button>a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}


@media screen and (min-width: 767px) {

    body {
        width: 100%
    }

    #menu_tabs {
        width: 100%;
        flex-direction: row-reverse;
        display: flex;
        flex-wrap: wrap;
    }
    article{
        width: 50%;
        max-width: 50%;
    }
}


@media screen and (min-width: 990px) {

    body {
        width: 100%
    }
    .tabs{
        height: 50em;
    }
    .tabs_txt dzp{
        font-size: 180%;
        padding-top: 1.5em;
        padding-left: 1em;
    }
}